/*PARALLAX*/
.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.parallax_layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax_group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}
.back {
    transform: translateZ(-1px) scale(2) translate(-4px, 0);
}
.front {
    transform: translateZ(0px);
    margin-top: 0vh;
}
/*GENERAL*/
:root {
    --bg: black;
    --fg: white;    
    --cl: rgba(0, 0, 0, .25);
    --ac: rgb(0, 25, 25);
}
body{
    background-color: var(--bg);
    margin: 0;
    overflow-x: hidden;
}
p {
    font-size: 1rem;
    font-family: monospace, sans-serif;
    color: var(--fg);
    margin: .5rem;
}
a {
    font-size: 1rem;
    font-family: monospace, sans-serif;
    text-decoration: none;
    color: var(--fg);
    margin: .5rem;
}
a:hover {
    color: rgb(180, 180, 180);
}
/*MENU*/
#menubtn {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 35px;
    height: 35px;
    transition: all ease-in-out .1s;    
}
#menubtn:hover {
    opacity: .8;
}
.line{
    width: 100%;
    height: 6px;
    border-radius: 0;
    background-color: white;
}
#menu {
    display: flex;
    position: fixed;
    list-style: none;
    top: -8rem;
    left: 0rem;
    right: 0;
    background-color: var(--ac);
    padding: 0 1rem 0 4rem;
    transition: all ease-in-out .2s;
}
#menu.show {
    transform: translateY(7rem);
}
li {
    width: 100%;
    text-align: center;
    flex-grow: 1;
    color: var(--fg);
    font-size: 1.5rem;
    font-family: arial, sans-serif;
    text-transform: capitalize;
    margin: 1rem .5rem;
    transition: all ease-in-out .1s;
}
li:hover {
    opacity: .8;
}
/*HERO*/
.hero {
    position: relative;    
    height: 65vh;
    width: 100%;
    background-image: url(img1.jpg);
    background-size: cover;
    background-position: center;
}
/*HOME*/
.home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65% 35%;
    height: 100vh;
    background-color: var(--cl); 
}
.homeText {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    justify-self: center;  
    background-color: var(--ac);    
    padding: 5rem;
}
.logo {   
    width: 300px;
    aspect-ratio: 1 / 1;
    margin: auto;
    border-radius: 3rem;
}
h1 {
    grid-column: 2 / 4;
    color: white;    
    font-family: Arial, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    align-self: end;
}
.welcome {
    grid-column: 2 / 4;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: monospace, sans-serif;
}
/*ABOUT*/
.about {
    position: relative; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 700px;
    padding: 5rem;
    gap: 5rem;
    background-color: var(--bg);
    margin: 0;
}
.column {
    position: relative;
    display: grid;
    height: 100%;
    justify-items: center;
}
h2 {
    width: 100%;
    color: white;
    font-family: arial, sans-serif;
    font-size: 1.75rem;
    text-align: center;
}
.sheet1, .sheet2 {
    position: absolute;
    width: 450px;
    aspect-ratio: 1/1;
    border: 2cap solid var(--fg);
    border-bottom: 7rem solid var(--fg);
    background-size: cover;
    background-position: center;
}
.sheet1 {
    rotate: -4deg;
    top: 9rem;
    background-image: url(me1.jpg);
}
.sheet2 {
    rotate: 5deg;
    top: 7rem;
    background-image: url(me2.jpg);
}
.sheeText {
    position: absolute;
    bottom: -5rem;
    color: black;

}
/*GALLERIES*/
.galleries {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    background-color: var(--bg);
    padding: 3rem 5rem;
    gap: 1rem;
}
.gallery {
    position: relative;
    flex-grow: 1;  
    padding: 5rem;
    background-size: cover;
    background-position: center;    
    filter: brightness(1); 
    font-family: arial, sans-serif;
    font-weight: bold;
    color: var(--fg);
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: 0 0 5px var(--bg);
    text-align: center;
    align-content: center;
    transition: all ease-in-out .1s;
}
.gallery:hover {
    filter: brightness(1);
}
.timeless {
    background-image: url(timeless.jpg);
}
.classy {
    background-image: url(classy.jpg);
}
.elegant {
    background-image: url(elegant.jpg);
}
.dynamic {
    background-image: url(dynamic.jpg);
}
.real {
    background-image: url(real.jpg);
}
.unique {
    background-image: url(unique.jpg);
}
/*CONTACT*/
.contact {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 1rem;
}
/*RESPONSIVE*/

@media screen and (max-width: 768px) {
    .front {
    margin-top: 0vh;
    }    
    #menu {
        padding: .5rem 1rem .5rem 4rem;
    }
    li {
        font-size: 1rem;
    }
    .hero {
        height: 100%;
        background-image: url(pasture.jpg);
    }
    .logo {
        width: 250px;
        height: 250px;
        margin: 3rem auto 2rem auto;
    }
    .home {
        grid-template-rows: repeat(2, 50%);
    }
    .homeText {
        padding: 0 3rem 3rem 3rem;
        background-color: transparent;
    }
    .about {
        height: 1000px;
        grid-template-columns: 1fr;
    }
    h1, h2 {
        font-size: 1.5rem;
    }
    .sheet1, .sheet2 {
        top: 6rem;
        width: 250px;
    }
    .sheeText {
        font-size: .75rem;
    }
    .gallery {
        padding: 5rem 3rem;
        font-size: 2rem;
    }
}
