/*PARALLAX*/
.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.parallax_layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax_group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}
.back {
    transform: translateZ(-1px) scale(2) translate(-4px, 0);
}
.front {
    transform: translateZ(0px);
    margin-top: 0vh;
}
/*GENERAL*/
:root {
    --bg: rgb(22, 18, 18);
    --fg: rgb(255, 228, 228);    
    --cl: rgba(0, 0, 0, 0.25);
    --ac: rgb(200, 255, 0);
}
body{
    background-color: var(--bg);
    margin: 0;
    overflow-x: hidden;
}
p {
    font-size: 1rem;
    color: var(--fg);
    margin: .5rem;
}
/*TOP*/
.hero {
    display: block;
    posistion: relative;
    width: 100%;
    height: 100vh;
    background-image: url(landscapeHero.jpg);
    background-size: cover;
    background-position: center;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--cl);
}
.logo {
    position: absolute;    
    width: 350px;
    height: 350px;
}
#menubtn {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 35px;
    height: 35px;
    transition: all ease-in-out .2s;    
}
#menubtn:hover {
}
.line{
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: white;
}
#menu {
    position: fixed;
    list-style: none;
    top: 3rem;
    left: -8rem;
    background-color: var(--cl);
    backdrop-filter: blur(4px);
    padding: .5rem;
    border-radius: .5rem;
    list-style: none;
    transition: all ease-in-out .2s;
}
#menu.show {
    transform: translateX(9rem);
}
li {
    color: var(--fg);
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 1rem .5rem;
    transition: all ease-in-out .2s;
}
li:hover {

}
/*ME*/
.about {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    background-color: var(--bg);
}
.intro {
    font-size: 1.2rem;
}
.headshot {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
/*Gallery*/
.galleries {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    background-color: var(--bg);
    padding: 0 5rem;
    gap: 1rem;
}
.gallery {
    position: relative;
    flex-grow: 1;  
    width: 250px;
    height: 350px;
    background-size: cover;
    background-position: center;    
    filter: brightness(1);
    font-family: arial, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 0 0 5px var(--bg);
    text-align: center;
    align-content: center;
    transition: all ease-in-out .1s;
}
/*.gallery:hover {
    filter: brightness(1);
}*/
.pasture {
    background-image: url(pasture.jpg);
}
.portraits {
    background-image: url(portraits.jpg);
}
.events {
    background-image: url(events.jpg);
}
.people {
    background-image: url(people.jpg);
}

/*.gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: .5rem;
    width: 100%;
    background-color: var(--bg);
}
.gal-img {
    flex-grow: 1;
    width: 15%;
    height: auto;
    object-fit: cover;
}
.landscape {
    width: 30%;
}*/
/*INFO8*/
.contact {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 1rem;
}
a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--fg);
    margin: .5rem;
}
a:hover {
    color: rgb(180, 180, 180);
}
/*RESPONSIVE*/

@media screen and (max-width: 768px) {
    .hero {
        background-image: url(portraitHero.jpg);
    }
    .logo {
        width: 250px;
        height: 250px;
    }
    .about {
        grid-template-columns: repeat(2, 190px);
        height: 200px;
        padding: 1rem;
    }
    .headshot {
        width: 150px;
        height: 150px;
    }
    .gal-img {
        width: 45%;
    }
    .landscape {
        width: 100%;
    }
}
